In [1]:
import mysql.connector
import datetime
import os

In [2]:
host = os.getenv('DB_HOST')
database = os.getenv('DB_DB')
user = os.getenv('DB_USER')
password = os.getenv('DB_PASSWORD')

In [7]:
connection = mysql.connector.connect(
    host=host,
    database=database,
    user=user,
    password=password
)

cursor = connection.cursor()

sql = "INSERT INTO users (user_id, date_reg, access, date_last_activity) VALUES (%s, %s, %s, %s)"
values = (234564, datetime.datetime.now(), 0, datetime.datetime.now())
 	 	 	 
cursor.execute(sql, values)

connection.commit()

cursor.close()
connection.close()